
.hero-banner-container{
  @include flexproperty($alignItem:center, $justifyContent:center, $flexDirection:column);
  gap: 30px;
}

.hero-banner{
  transition: all 1s ease-in-out;
  @include flexproperty($alignItem:center, $justifyContent:center, $flexDirection:column);
}

.underLine-pTag::after {
  content: '';
  position: relative; 
  display: block;
  margin-top: 10px;
  height: 2px;
  background-color: var(--secondary-color);
}

.hero-banner-image{
  transition: all 1s ease-in-out;
}
.resume-link{
  text-decoration: none;
}