@import url('https://fonts.googleapis.com/css2?family=PT+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400&display=swap');
*{
    margin: 0;
    padding: 0;
}
:root{
    --fontFamilyPtSerif: 'PT Serif', serif;
    --fontFamilyRobotoSlab: 'Roboto Slab', serif;
    --fontFamilyMerriweather: 'Merriweather', serif;
    --fontFamilyWorkSans: 'Work Sans', sans-serif;
}
body{
    overflow-x: hidden;
    padding: 0;
    margin: 0;
    position: relative;
}
.lightTheme{
    --background-color:#FFFFFF;
    --primary-color:#1d1a1a;
    --secondary-color:#331EB0;
}
.DarkTheme{
    --background-color:#181717;
    --primary-color:#FFFFFF;
}

.link::after{
    cursor: pointer;
    content: "";
    display: block;
    width: 0px;
    height: 2.3px;
    background-color: var(--secondary-color);
    transition: width 0.3s ease-in-out;
}
.navbar-link:hover::after{
    width: 65px;
}
.my-build:hover::after{
    width: 95px;
}
.underLine-pTag::after{
   content: '';
   /* position: relative; */
   display: block;
   margin-top: 10px;
   height: 2px;
   background-color: var(--secondary-color);
}
.bg{
    width: 100%;
    position: absolute;
    height: 300px;
    border-bottom-right-radius: 11%;
    left: 0;
    margin-top: 80px;
    box-shadow: 1px 0px 100px  rgba(8, 8, 173, 0.137);
    z-index: -1;
    background: rgb(45,53,253);
    background: linear-gradient(0deg, rgba(45,53,253,0.08167016806722693) 5%, rgba(34,34,195,0.2049194677871149) 100%);
}
.About{
    background: rgb(131,58,180);
    background: linear-gradient(180deg, rgba(131,58,180,0) 0%, rgba(235,29,253,0.1516981792717087) 26%, rgba(78,69,252,0.07046568627450978) 61%, rgba(78,69,252,0) 96%);
    background: rgb(131,58,180);
    background: linear-gradient(180deg, rgba(131,58,180,0) 0%, rgba(203,38,231,0.03125) 18%, rgba(235,29,253,0.06486344537815125) 39%, rgba(78,69,252,0.07046568627450978) 67%, rgba(78,69,252,0) 96%);
}
.htmlImg,
.cssImg,
.jsImg,
.reactImg,
.figmaImg{
    
    position:relative;
    animation-duration: .9s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    z-index: 1;
    /* animation-direction: alternate; */
}
.lampContainer{
    position:absolute;
    width:100%;
    height:377px;
    top:-50px;
    border: 1px solid red;
    /* border-bottom-left-radius: 25%;
    border-top-right-radius: 50%; */
    z-index: 99;
    /* background: rgb(251,5,101);
    background: linear-gradient(0deg, rgba(251,5,101,0.5578606442577031) 74%, rgba(34,193,195,0.19091386554621848) 90%, rgba(253,187,45,0.008841036414565795) 100%); */
}

.bulb-holder{
    /* border: 2px solid; */
    width: 50px;
    height: 40px;
    background: teal;
    position: relative;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    transform: rotate(-32deg);
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.bulb{
    width: 50px;
    height: 20px;
    background: #fff;
    border-radius: 60%;
    transform: translate(0px,30px);
    animation: light 2000ms infinite cubic-bezier(1, -0.45, 0, 1.89);
}
#b1{
    animation-name: bulb1;  
    /* box-shadow:0px 31px 35px 5px blue,
    0px 65px 41px 4px blue,
    3px 84px 46px 10px blue,
    -2px 132px 61px 35px blue,
    -48px 202px 89px 33px blue,
    48px 202px 89px 33px blue,
    9px 316px 89px 33px blue;
    ; */
    box-shadow: 
    0px 24px 51px -5px blue, 
    0px 56px 101px -3px blue, 
    3px 84px 87px 1px blue, 
    -2px 110px 105px 10px blue, 
    -48px 202px 126px 10px blue, 
    9px 316px 89px 3px blue;
}
#b2{
    transform: translateX(192px);
    margin-top: -49px;
    box-shadow: 
    0px 24px 51px -5px rgb(183, 0, 255), 
    0px 56px 101px -3px rgb(183, 0, 255), 
    3px 84px 58px 2px rgb(183, 0, 255), 
    -2px 110px 100px 30px rgb(183, 0, 255), 
    -48px 202px 126px 10px rgb(183, 0, 255), 
    9px 316px 89px 3px rgb(183, 0, 255);
    animation-name: bulb2;  
}
#b3{
    transform: translateX(392px) rotate(20deg);
    margin-top: -49px;
    box-shadow: 
    0px 24px 51px -5px rgb(0, 119, 255), 
    0px 56px 101px -3px rgb(0, 119, 255), 
    3px 84px 58px 2px rgb(0, 119, 255), 
    -2px 110px 100px 30px rgb(0, 119, 255), 
    -48px 202px 126px 10px rgb(0, 119, 255), 
    9px 316px 89px 3px rgb(0, 119, 255);
    animation-name: bulb3;
}
.light{
    /* box-shadow:0px 31px 35px 5px blue,
    0px 65px 41px 4px blue,
    3px 84px 46px 10px blue,
    -2px 132px 61px 35px blue,
    -48px 202px 89px 33px blue,
    48px 202px 89px 33px blue,
    9px 316px 89px 33px blue;
    ; */
}
@keyframes bulb1 {
  100%,0%{
    transform: rotate(-32deg);
  }
  25%{
    transform: rotate(-46deg);
  }
  75%{
    transform: rotate(0deg);
  }
}
@keyframes bulb2 {
    100%,0%{
        transform: translateX(192px) rotate(-25deg);
    }
    50%{
        transform: translateX(192px) rotate(15deg);
    }
}
@keyframes bulb3 {
    100%,0%{
      transform: translateX(392px) rotate(20deg);
    }
    25%{
      transform: translateX(392px) rotate(-20deg);
    }
    75%{
      transform: translateX(392px) rotate(40deg);
    }
  }
.imagesContainer{
    position:relative;
    margin:auto;

}
.htmlImg{
    left: 38px;
    top: 60px;
    transform-origin: bottom;
    animation-name: htmlAnim1;
    /* animation-delay: .1s; */
}
.cssImg{
    left: 24px;
    top: 22px;
    animation-name: cssAnim;
    transform-origin: center;
    animation-delay: 1s;
}
.jsImg{
    left: 2px;
    top: 37px;
    animation-name: jsAnim;
    /* animation-duration: 7s; */
    
}
.figmaImg{
    left:94px;
    top:12px;
    animation-name: figmaAnim;
    /*  animation-delay: .3s; */
}
.reactImg{
    left: 121px;
    /* transform: perspective(500px) rotateX(180deg); */
    top: 20px;
    animation-name: reactAnim;
    /* animation-delay: 6.7s; */
}

@keyframes htmlAnim1 {
    0%{
        transform: rotate(8deg);
    }
    25%{
        transform: rotate(-8deg)
    }
    50%{
        transform: rotate(8deg);
        top:80px
    }
    75%{
        transform: rotate(-8deg);
        top:60px
    }
    100%{
        transform: rotate(8deg);
        top:60px
    }
}
@keyframes cssAnim {
    25%{
        transform: rotate(-8deg);
        top:54px
    }
    50%{
        transform: rotate(8deg);
        top:24px
    }
    75%{
        transform: rotate(-8deg);
    }
    100%{
        transform: rotate(-8deg);
    }
}
@keyframes jsAnim {
    0%{
        transform: perspective(500px) rotate(-10deg); 
        transform-origin: -20% -20%;
    }
    50%{
        transform: perspective(500px) rotate(10deg); 
        transform-origin: 90% 90%;
    }
   100%{
        transform: perspective(500px) rotate(-10deg); 
        transform-origin: -20% -20%;
   }
}
@keyframes reactAnim {
    0%{
        transform: perspective(500px) rotate(-10deg); 
        transform-origin: 90% 90%;
    }
    50%{
        transform: perspective(500px) rotate(10deg); 
        transform-origin: -20% -20%;
    }
   100%{
        transform: perspective(500px) rotate(-10deg); 
        transform-origin: 90% 90%;
   }
}
@keyframes figmaAnim {
    0%{
        transform: perspective(500px) rotate(-20deg); 
        transform-origin: left bottom;
    }
    50%{
        transform: perspective(500px) rotate(20deg); 
        transform-origin: right bottom;

    }
   100%{
        transform: perspective(500px) rotate(-20deg); 
        transform-origin: left bottom;

   }
}


   /* 100%, 0%{
        background: rgb(17,45,116);
        background: linear-gradient(0deg, rgba(17,45,116,0.36738445378151263) 74%, rgba(34,193,195,0.19091386554621848) 90%, rgba(253,187,45,0.008841036414565795) 100%);  
    }
    25%{
        background: rgb(14,72,218);
    background: linear-gradient(0deg, rgba(14,72,218,0.6138830532212884) 74%, rgba(34,193,195,0.19091386554621848) 90%, rgba(253,187,45,0.008841036414565795) 100%);
    }
    50%{
        background: rgb(178,14,218);
background: linear-gradient(0deg, rgba(178,14,218,0.6138830532212884) 74%, rgba(34,193,195,0.19091386554621848) 90%, rgba(253,187,45,0.008841036414565795) 100%);
    }
    75%{
        background: rgb(251,5,101);
background: linear-gradient(0deg, rgba(251,5,101,0.5578606442577031) 74%, rgba(34,193,195,0.19091386554621848) 90%, rgba(253,187,45,0.008841036414565795) 100%);
    } */