@import url('https://fonts.googleapis.com/css2?family=PT+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400&display=swap');
*{
    margin: 0;
    padding: 0;
}
:root{
    --fontFamilyPtSerif: 'PT Serif', serif;
    --fontFamilyRobotoSlab: 'Roboto Slab', serif;
    --fontFamilyMerriweather: 'Merriweather', serif;
    --fontFamilyWorkSans: 'Work Sans', sans-serif;
}
body{
    overflow-x: hidden;
    padding: 0;
    margin: 0;
    position: relative;
}
.lightTheme{
    --background-color:#FFFFFF;
    --primary-color:#1d1a1a;
    --secondary-color:#331EB0;
}
.DarkTheme{
    --background-color:#181717;
    --primary-color:#FFFFFF;
}

.link::after{
    cursor: pointer;
    content: "";
    display: block;
    width: 0px;
    height: 2.3px;
    background-color: var(--secondary-color);
    transition: width 0.3s ease-in-out;
}
.navbar-link:hover::after{
    width: 65px;
}
.my-build:hover::after{
    width: 95px;
}
.underLine-pTag::after{
   content: '';
   /* position: relative; */
   display: block;
   margin-top: 10px;
   height: 2px;
   background-color: var(--secondary-color);
}
.imagesContainer{
    /* background-color: #bb71dd44;
    box-shadow: 1px 24px 184px 0px #bb71dddc ;
    border: 1px solid #bb71dd02; */
}
.bg{
    width: 100%;
    position: absolute;
    height: 300px;
    border-bottom-right-radius: 11%;
    top: 0;
    left: 0;
    margin-top: 80px;
    box-shadow: 1px 0px 100px  rgba(8, 8, 173, 0.137);
    z-index: -1;
    background: rgb(45,53,253);
    background: linear-gradient(0deg, rgba(45,53,253,0.08167016806722693) 5%, rgba(34,34,195,0.2049194677871149) 100%);
}
.About{
    background: rgb(131,58,180);
    background: linear-gradient(180deg, rgba(131,58,180,0) 0%, rgba(235,29,253,0.1516981792717087) 26%, rgba(78,69,252,0.07046568627450978) 61%, rgba(78,69,252,0) 96%);
    background: rgb(131,58,180);
    background: linear-gradient(180deg, rgba(131,58,180,0) 0%, rgba(203,38,231,0.03125) 18%, rgba(235,29,253,0.06486344537815125) 39%, rgba(78,69,252,0.07046568627450978) 67%, rgba(78,69,252,0) 96%);
}
.htmlImg,
.cssImg,
.jsImg,
.reactImg,
.figmaImg{
    animation-duration: 7s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    /* animation-direction: alternate; */
}
.htmlImg{
    left:6px;
    top:50px;
    animation-name: htmlAnim1;
    /* animation-delay: .1s; */
}
.cssImg{
    animation-name: cssAnim;
    animation-delay: .1s;
}
.jsImg{
    left:86px;
    top:100px;
    animation-name: jsAnim;
    animation-duration: 7s;
    animation-delay: .3s;

}
.figmaImg{
    /* animation-name: figmaAnim;
    animation-delay: .3s; */
}
.reactImg{
     /* animation-name: reactAnim; */
    animation-delay: 6.7s;
}
@keyframes htmlAnim1{
    0%{
        top:-14px;
    }
    25%{
        top: -14px;
        left: 354px;
    }
    50%{
        top: 222px;
        left: 354px;
    }
    75%{
        top: 222px;
        left: 0px;
    }
    100%{
        top: 0px;
        left: 0px;
    }
   
   
}

@keyframes cssAnim {
    0%{
        left: 70px;
        top: -3px;
    }
    10%{
        left: 224px;
        top: -3px;
    }
   
    32.5%{
        left: 224px;
        top: 244px;    
    }
    62.5%{
        left: -110px;
        top: 244px;
    }
    82.5%{
        left: -110px;
        top: 0px;
    }
    100%{
        left: 70px;
        top: -3px;
    }
}
@keyframes jsAnim {
    0% {
        left:86px;
        top:100px;
    }
    12%{
        left: 87px;
        top: 223px;
    }
    32.5%{
        left: -259px;
        top: 223px;
    }
    62.5%{
        left: -259px;
        top: -14px;
    }
    82.5%{
        left: 92px;
        top: -14px;
    }
    100%{
        left:86px;
        top:100px;
    }
}

@keyframes figmaAnim {
    0% {
       
    }
    25%{
        transform: translate3d(-184px, -209px, 0px);
    }
    50%{
        transform: translate3d(53px, -209px, 0px);

    }
    75%{
        transform: translate3d(53px, -7px, 0px);
    }
    100%{
        transform: translate3d(-184px, 0px, 0px);
    }
}
@keyframes reactAnim {
    25% {
        transform: translate(0px, -214px);
    }
    50%{
        transform: translate(315px, -214px);
    }
    75%{
       transform: translate(315px, 5px);
    }
    100%{
        transform: translate(0px, 5px);
    }
    25%{
        transform: translate(0px, -214px);
    }
}
