
@import url('https://fonts.googleapis.com/css2?family=PT+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400&display=swap');

@import './utils';
@import './components/contact';
@import './components/about';
@import './components/projects';
@import './components/herobanner';
@import './components/navbar';




* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --fontFamilyPtSerif: 'PT Serif', serif;
  --fontFamilyRobotoSlab: 'Roboto Slab', serif;
  --fontFamilyMerriweather: 'Merriweather', serif;
  --fontFamilyWorkSans: 'Work Sans', sans-serif;

  --single-project-bg-color:rgba(181, 174, 223, 0.0.55);
  --single-project-box-shadow:rgb(72,45,253);

  --navbar-bg-color: rgba(120, 106, 202, 0.055);

  --contact-link-icon-color:rgb(100, 11, 160);
}

.lightTheme {
  --background-color: #FFFFFF;
  --primary-color: #1d1a1a;
  --secondary-color: #331EB0;
  --technologies-border-color: #67087a;
  --technologies-bg-color: #b714d83d;
  --contact-link-color:#1d1a1a;
  --font-weight: 700;
  --contact-link-font-weight: 700;
}

.DarkTheme {
  --background-color: #181717;
  --primary-color: #FFFFFF;
  --secondary-color: #331EB0;
  --technologies-border-color: #67087a;
  --technologies-bg-color: #7119833d;
  --contact-link-color:#fff;
  --font-weight: 300;
  --contact-link-font-weight: 300;

}

body {
  overflow-x: hidden;
  padding: 0;
  margin: 0;
  position: relative;
  background-color: var(--background-color);
}
.main-container{
  max-width: 1440px;
  margin: 0 auto;
  overflow-x: hidden;
  position: relative;
}