@import url('https://fonts.googleapis.com/css2?family=PT+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400&display=swap');

@import './utils';

* {
  margin: 0;
  padding: 0;
}

:root {
  --fontFamilyPtSerif: 'PT Serif', serif;
  --fontFamilyRobotoSlab: 'Roboto Slab', serif;
  --fontFamilyMerriweather: 'Merriweather', serif;
  --fontFamilyWorkSans: 'Work Sans', sans-serif;

}

.lightTheme {
  --background-color: #FFFFFF;
  --primary-color: #1d1a1a;
  --secondary-color: #331EB0;
  --technologies-border-color: #67087a;
  --technologies-bg-color: #b714d83d;
  --font-weight: 700;
}

.DarkTheme {
  --background-color: #181717;
  --primary-color: #FFFFFF;
  --secondary-color: #331EB0;
  --technologies-border-color: #67087a;
  --technologies-bg-color: #7119833d;
  --font-weight: 300;
}

body {
  overflow-x: hidden;
  padding: 0;
  margin: 0;
  position: relative;
  background-color: var(--background-color);
}

.navbar{
  grid-area: Navegation;
  @include flexproperty($alignItem:center, $justifyContent:space-between, $flexDirection:row);
  position: relative;
  padding: 6px;
  width: 100%;
  z-index: 2;
}

.sm-navbar{
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(17, 16, 16, 0.842);
  z-index: 1;
  @include flexproperty($alignItem:center, $justifyContent:center, $flexDirection:column);
}

.navbar-container {
  @include flexproperty($alignItem:center, $justifyContent:space-between, $flexDirection:row);
  padding: 6px;
  margin: auto;
}

.navbar-menu{
  position: relative;
  top:0;
  width: 100%;
  z-index:1;
  background-color: transparent;
  @include flexproperty($alignItem:center, $justifyContent:center, $flexDirection:row);
}

.sm-nav-link{
  position: relative;
  cursor: pointer;
}
.sm-nav-link::after{
  top:30px;
  @include underline(0px);
}

.sm-nav-link:hover::after{
  width: 100%;
}

.link::after {
  @include underline(0px);
}
.link{
  position: relative;
  cursor: pointer;
}
.navbar-link:hover::after {
  width: 55px;
}

.my-build:hover::after {
  width: 80px;
}

.About-outline::after {
  @include underline(115px)
}

.About-outline:hover::after {
  width: 0;
}
.contact-outline::after {
  @include underline(140px)
}

.contact-outline:hover::after {
  width: 0;
}

.myproject-outline::after {
  @include underline(130px)
}

.myproject-outline:hover::after {
  width: 0;
}

.underLine-pTag::after {
  content: '';
  position: relative; 
  display: block;
  margin-top: 10px;
  height: 2px;
  background-color: var(--secondary-color);
}

.bg {
  width: 100%;
  position: absolute;
  height: 300px;
  border-bottom-right-radius: 11%;
  left: 0;
  margin-top: 80px;
  box-shadow: 1px 0px 100px rgba(8, 8, 173, 0.137);
  z-index: -1;
  background: rgb(45, 53, 253);
  background: linear-gradient(0deg, rgba(45, 53, 253, 0.08167016806722693) 5%, rgba(34, 34, 195, 0.2049194677871149) 100%);
}

.htmlImg,
.cssImg,
.jsImg,
.reactImg,
.figmaImg {
  position: relative;
  animation-duration: .9s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  z-index: 1;
}

.lampContainer {
  position: absolute;
  width: 100%;
  height: 377px;
  top: 0px;
  z-index: 2;
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.bulb-holder {
  width: 50px;
  height: 40px;
  background: teal;
  position: relative;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  transform: rotate(-32deg);
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.bulb {
  width: 50px;
  height: 20px;
  background: #fff;
  border-radius: 60%;
  transform: translate(0px, 30px);
  animation: light 2000ms infinite cubic-bezier(1, -0.45, 0, 1.89);
}

#b1 {
  animation-name: bulb1;
  @include boxShadow(var(--secondary-color))
}

#b2 {
  margin-top: -49px;
  @include boxShadow(rgb(183, 0, 255));
  animation-name: bulb2;
}

#b3 {
  transform: rotate(20deg);
  margin-top: -49px;
  @include boxShadow(rgb(0, 119, 255));
  animation-name: bulb3;
}

@keyframes bulb1 {

  100%,
  0% {
    transform: rotate(-32deg);
    @include boxShadow(var(--secondary-color));
  }

  25% {
    transform: rotate(-46deg);
    @include boxShadow(rgb(183, 0, 255));
  }

  75% {
    transform: rotate(0deg);
    @include boxShadow(var(--secondary-color));
  }
}

@keyframes bulb2 {
  100%,
  0% {
    transform: rotate(-25deg);
    @include boxShadow(rgb(183, 0, 255));
  }

  50% {
    transform: rotate(15deg);
    @include boxShadow(var(--secondary-color));
  }
}

@keyframes bulb3 {

  100%,
  0% {
    transform: rotate(20deg);
    @include boxShadow(rgb(0, 119, 255));
    animation-name: bulb3;
  }

  25% {
    transform: rotate(2deg);
    @include boxShadow(rgb(183, 0, 255));
  }

  75% {
    transform: rotate(30deg);
    @include boxShadow(var(--secondary-color));
  }
}

.imagesContainer {
  position: relative;
  margin: auto;
  height: 400px;
}

.htmlImg {
  left: 38px;
  top: 60px;
  transform-origin: bottom;
  animation-name: htmlAnim1;
}

.cssImg {
  left: 24px;
  top: 22px;
  animation-name: cssAnim;
  transform-origin: center;
}

.jsImg {
  left: 2px;
  top: 37px;
  animation-name: jsAnim;
}

.figmaImg {
  left: 94px;
  top: 12px;
  animation-name: figmaAnim;
}

.reactImg {
  left: 121px;
  top: 20px;
  animation-name: reactAnim;
}

@keyframes htmlAnim1 {
  0% {
    transform: rotate(8deg);
  }

  25% {
    transform: rotate(-8deg)
  }

  50% {
    transform: rotate(8deg);
    top: 80px
  }

  75% {
    transform: rotate(-8deg);
    top: 60px
  }

  100% {
    transform: rotate(8deg);
    top: 60px
  }
}

@keyframes cssAnim {
  25% {
    transform: rotate(-8deg);
    top: 54px
  }

  50% {
    transform: rotate(8deg);
    top: 24px
  }

  75% {
    transform: rotate(-8deg);
  }

  100% {
    transform: rotate(-8deg);
  }
}

@keyframes jsAnim {
  0% {
    transform: perspective(500px) rotate(-10deg);
    transform-origin: -20% -20%;
  }

  50% {
    transform: perspective(500px) rotate(10deg);
    transform-origin: 90% 90%;
  }

  100% {
    transform: perspective(500px) rotate(-10deg);
    transform-origin: -20% -20%;
  }
}

@keyframes reactAnim {
  0% {
    transform: perspective(500px) rotate(-10deg);
    transform-origin: 90% 90%;
  }

  50% {
    transform: perspective(500px) rotate(10deg);
    transform-origin: -20% -20%;
  }

  100% {
    transform: perspective(500px) rotate(-10deg);
    transform-origin: 90% 90%;
  }
}

@keyframes figmaAnim {
  0% {
    transform: perspective(500px) rotate(-20deg);
    transform-origin: left bottom;
  }

  50% {
    transform: perspective(500px) rotate(20deg);
    transform-origin: right bottom;

  }

  100% {
    transform: perspective(500px) rotate(-20deg);
    transform-origin: left bottom;

  }
}


.projects-container{
  margin:auto;
  width:340px;
  height:440px;
}
.single-projects{
  display:flex;
  align-items:center;
  flex-direction:column;
  justify-content:space-between;
  gap:10px;
  padding:10px 15px;
  border-radius:10px;
  box-shadow: 0px 0px 4px 0px  black;
  width:92%;
  height:90%;
  transition: .2s;
}
.single-projects:hover{
  transform: translateY(-10px);
  height: 95%;
}

.project-info-container{
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  height: 200px;
}

.project-info-title{
  @include flexproperty($alignItem:center, $justifyContent:space-between, $flexDirection:row);
  width: 100%;
}

.project-info-technologies{
  @include flexproperty($alignItem:center, $justifyContent:space-between, $flexDirection:row);
  gap:7px;
}

.project-link{
  padding: 10px 20px;
  background: transparent;
  border: 2px solid var(--secondary-color);
  color: var(--secondary-color);
  text-decoration: none;
  border-radius: 6px;
  font-family: var(--fontFamilyWorkSans);
  box-shadow: 0px 0px 4px 0px  black;
  transition: .7s;
}
.project-link:hover{
  background: var(--secondary-color);
  color: white;
}

.form{
  width: 400px;
  display: flex;
  flex-direction: column;
  width: 90%;
}
.form-btn-container{
  @include flexproperty($alignItem:center, $justifyContent:center, $flexDirection:column)
}
.label {
  font-size: 18px;
  font-weight: 700;
  align-self: flex-start;
  letter-spacing: 1px;
  font-family: var(--fontFamilyPtSerif);
  color:var(--primary-color)
}
.contact-form-box,
.textArea-container{
  @include flexproperty($alignItem:center, $justifyContent:center, $flexDirection:column);
}

.input,
.textarea {
  margin-top: 10px;
  border: none;
  border-radius: 10px;
  padding: 10px;
  font-size: 17px;
  box-shadow: 0px 0px 4px 0px black;
  outline: none;
  width: 100%;
  transition: box-shadow .3s;
  background-color: transparent;
}

.input:hover,
.textarea:hover {
  box-shadow: 0px 0px 4px 0px var(--secondary-color);
}
.textarea {
  margin-top: 12px;
  margin-bottom: 20px;
  color: white;
  resize: none;
}

.textarea::placeholder{
  color: var(--secondary-color);
}
.contact-info{
  @include flexproperty($alignItem:center, $justifyContent:center, $flexDirection:row);
  gap:10px;
}
.contact-form-box{
  @include flexproperty($alignItem:center, $justifyContent:space-between, $flexDirection:row);
}
.contact-box-item{
  display :flex;
  align-items:center;
  gap: 5px;
}
.link-github{
  text-decoration: none;
  color: var(--primary-color);
}